* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Manrope", sans-serif;
  background-color: #d9d9d9;
}
#main {
  max-width: 1240px;
  margin: 20px auto;
}
header {
  background-image: url("assets/image/header-img.png");
  height: 667px;
  background-size: cover;
  overflow: hidden;
}
.search-items h1 {
  text-align: center;
  font-family: anton;
  color: #ffd15b;
  font-size: 44px;
  text-shadow: 0 4px 4px black;
  margin-bottom: 25px;
}
.search-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 954px;
  margin: auto;
}
.search-bar {
  position: relative;
  width: 100%;
}
.search-items .search-bar input {
  height: 72px;
  border-radius: 11px;
  font-weight: 400;
  font-size: 16px;
  color: #7a7a7a;
  border: 0;
  box-shadow: black;
  width: 100%;
  padding-left: 35px;
  outline: none;
}
.search-items i {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 51px;
  height: 52px;
  color: #ffffff;
  background-color: black;
  border: 0;
  border-radius: 10px;
  position: absolute;
  right: 10px;
  top: 12px;
}
header img {
  margin-top: 51px;
  margin-left: 69px;
}
.recipes-filters {
  margin-bottom: 55px;
}

.dropdown-box {
  position: relative;
  width: 195px;
  border-radius: 11px;
  margin-right: 55px;
  padding: 3px;
  background-color: #ffffff;
}
.dropdown-box .dropdown-option {
  padding: 16px;
  cursor: pointer;
}

.dropdown-box .dropdown-option input {
  height: 24px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
  outline: none;
}
.dropdown-box-active {
  border-radius: 11px 11px 0 0;
}
.fa-chevron-up {
  transition: transform 0.3s ease;
}
.dropdown-box-active .fa-chevron-up {
  transform: rotate(180deg);
}
.dropdown-box .content {
  display: none;
  position: absolute;
  top: 88px;
  left: 0;
  z-index: 1;
  background-color: #ffffff;
  padding-bottom: 16px;
}
.dropdown-box .content.open {
  display: block;
  margin-top: -27px;
  border-radius: 0 0 11px 11px;
}
.dropdown-box .content .search {
  position: relative;
  padding-left: 16px;
  color: #7a7a7a;
}
.dropdown-box .content .search input {
  border-radius: 2px;
  height: 36px;
  border: 1px solid #c6c6c6;
  width: calc(100% - 16px);
  outline: none;
}
.dropdown-box .content .search .search-icons {
  position: absolute;
  right: 22px;
}
.dropdown-box .content .options {
  margin-top: 16px;
  max-height: 250px;
  overflow-y: auto;
}
.options::-webkit-scrollbar {
  width: 7px;
}
.options::-webkit-scrollbar-track {
  background-color: #f1f1f1;
  border-radius: 25px;
}
.options::-webkit-scrollbar-thumb {
  background-color: #c6c6c6;
  border-radius: 25px;
}
.dropdown-box .content .options li:hover {
  background-color: #ffd15b;
}

.recipes-number {
  font-family: Anton;
  font-size: 21px;
  font-weight: 400;
  margin-top: 31px;
}
.selected-items .selected-option {
  min-width: 141px;
  padding: 17px 18px;
  border-radius: 10px;
  background-color: #ffd15b;
  margin-bottom: 10px;
}
.selected-item-options {
  background-color: #ffd15b;
  font-weight: 700;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.xmark {
  margin-left: 10px;
  cursor: pointer;
  font-size: 1.2em;
  color: #ffd15b;
  border-radius: 100%;
  background-color: black;
  height: 17px;
  width: 17px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.recipe-card {
  background-color: white;
  border-radius: 21px;
  margin-bottom: 16px;
  position: relative;
  height: 845px;
  /*padding-bottom: 60px;*/
}
.recipe-card img {
  border-radius: 21px 21px 0 0;
  height: 35%;
  width: 100%;
}
.recipe-card h2 {
  margin-top: 29px;
  margin-left: 25px;
  font-weight: 400px;
  font-family: Anton;
  font-size: 18px;
}
.recipe-card-info {
  margin: 25px 29px;
}
.recipe-card .Temps {
  width: 65px;
  height: 26px;
  border-radius: 14px;
  background-color: #ffd15b;
  font-size: 12px;
  font-weight: 400;
  text-align: center;
  padding-top: 4px;
  position: absolute;
  top: 21px;
  right: 21px;
}
.recipe-card h3 {
  font-weight: bold;
  font-size: 12px;
  color: #7a7a7a;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.recipe-card p {
  font-size: 12px;
  margin-bottom: 32px;
}
.recipe-card ul {
  font-size: 12px;
}
.quantity {
  color: #7a7a7a;
}
